<!-- content start -->

<div class="page-content">
  <div class="wrapper">

<div class="teaserimage">
    <div class="teaserimage-image" style="background-image: url(../images/lightwork1.jpg)">
        Its Light Weight Baby
    </div>
</div>

<header class="blog-header">

      <a class="blog-logo" style="background-image: url('../images/flexin.png')">Flex</a>

    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <h2 class="synopsis" style="font-size:initial;font-family:monospace" >{{ site.synposis }}</h2>
</header>
